table {
  width: 60%;
  margin: 1rem 10%;
  border-collapse: collapse;
  border: 0.1rem solid black;
  font-size: 2rem;
  background-color: #fff;
}

thead {
  background-color: #e6eff8;
}
table tr {
  height: 3rem;
}

table th {
  border: 0.2rem solid black;
}

table td {
  border: 0.1rem solid black;
}

.tableData_result {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  table {
    width: 80%;
  }
}
